<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>question</title>

</head>
<body>
<form action="{% url "lll:toRegister" %}" method="post">

    {% csrf_token %}
    用户名：<input type= "text"  name="name"  />{% for one in form.name.errors %}{{ one }}{% endfor %} <br />
    密码：<input type= "text"  name="pwd"  />{% for one in form.pwd.errors  %} {{ one }} {% endfor %}<br />
你最喜欢的电影是：<input type= "text"  name="answer"  /> <br />



<input type="submit" value="注册" name="Register" />

</form>
</body>
</html>